*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* text-align: center; */
  /* color: rgba(0, 0, 0, 0.486); */
}

h2 {
  margin: 0;
  font-size: 22px;
}

.calendario{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
}

.calendario__meutime{
  display: flex;
  justify-content: space-around;
}